In [2]:
import pandas as pd
from scipy.spatial import distance
import numpy as np

In [58]:
feat = pd.read_csv(r'C:\Users\User\Desktop\feature_task.csv')

In [72]:
conj = pd.read_csv(r'C:\Users\User\Desktop\conjunction_task.csv')

In [60]:
feat

,participantN,age,gender,trialN,task,condition,FeatConj,setSize,proportion,timelimit,...,targDist,touchN,error,switches,changeScreen,resp_pos,closest_same_target,closest_other_taget,closest_blue_dot,closest_yellow_dot
0,1,0,,1,0,r/g,0,80,50,0.0,...,0.000000,1,0,2,0,"[905.3, 513.77]","[917.58, 558.42]","[831.42, 437.75]","[879.51, 645.87]","[878.19, 441.13]"
1,1,0,,1,0,r/g,0,80,50,0.0,...,46.312331,2,0,0,0,"[917.58, 558.42]","[905.3, 513.77]","[799.64, 503.31]","[879.51, 645.87]","[878.19, 441.13]"
2,1,0,,1,0,r/g,0,80,50,0.0,...,126.121110,3,0,0,0,"[792.03, 570.48]","[917.58, 558.42]","[799.64, 503.31]","[727.41, 563.11]","[646.05, 580.26]"
3,1,0,,1,0,r/g,0,80,50,0.0,...,92.578668,4,0,1,0,"[829.2, 655.28]","[700.55, 659.76]","[792.03, 570.48]","[879.51, 645.87]","[646.05, 580.26]"
4,1,0,,1,0,r/g,0,80,50,0.0,...,128.730712,5,0,0,0,"[700.55, 659.76]","[829.2, 655.28]","[651.08, 650.09]","[727.41, 563.11]","[646.05, 580.26]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18369,24,0,NaN,9,0,b/y,0,40,50,0.0,...,64.421752,17,0,1,0,"[870.54, 247.96]","[748.82, 417.71]","[822.67, 291.07]","[799.55, 192.92]","[809.26, 345.62]"
18370,24,0,NaN,9,0,b/y,0,40,50,0.0,...,315.677946,18,0,0,0,"[887.7, 563.17]","[748.82, 417.71]","[876.91, 637.65]","[803.22, 639.21]","[809.26, 345.62]"
18371,24,0,NaN,9,0,b/y,0,40,50,0.0,...,75.255339,19,0,1,0,"[876.91, 637.65]","[822.67, 291.07]","[887.7, 563.17]","[803.22, 639.21]","[809.26, 345.62]"
18372,24,0,NaN,9,0,b/y,0,40,50,0.0,...,254.517494,20,0,1,0,"[748.82, 417.71]","[637.14, 262.6]","[665.62, 437.26]","[653.14, 494.47]","[739.4, 325.14]"
18373,24,0,NaN,9,0,b/y,0,40,50,0.0,...,191.134264,21,0,0,0,"[637.14, 262.6]","[748.82, 417.71]","[538.13, 345.25]","[799.55, 192.92]","[664.62, 177.37]"

In [73]:
conj

,participantN,age,gender,trialN,task,condition,FeatConj,setSize,proportion,timelimit,...,targDist,touchN,error,switches,changeScreen,resp_pos,closest_same_target,closest_other_target,closest_dist_same_color,closest_dist_same_shape
0,1,0,,0,0,rs/gd,1,80,50,0.0,...,0.000000,1,0,2,0,"[899.99, 486.05]","[874.21, 580.7]","[899.28, 420.66]","[717.25, 506.41]","[815.83, 402.12]"
1,1,0,,0,0,rs/gd,1,80,50,0.0,...,98.099551,2,0,0,0,"[874.21, 580.7]","[905.53, 646.04]","[791.91, 492.55]","[717.25, 506.41]","[829.65, 583.97]"
2,1,0,,0,0,rs/gd,1,80,50,0.0,...,72.456170,3,0,0,0,"[905.53, 646.04]","[874.21, 580.7]","[735.4, 580.27]","[717.25, 506.41]","[823.7, 663.99]"
3,1,0,,0,0,rs/gd,1,80,50,0.0,...,258.272200,4,0,0,0,"[660.02, 565.85]","[649.56, 638.9]","[735.4, 580.27]","[717.25, 506.41]","[702.66, 662.72]"
4,1,0,,0,0,rs/gd,1,80,50,0.0,...,73.791956,5,0,0,0,"[649.56, 638.9]","[660.02, 565.85]","[735.4, 580.27]","[717.25, 506.41]","[702.66, 662.72]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19440,24,0,NaN,13,0,rs/gd,1,40,50,0.0,...,287.654228,20,0,0,0,"[640.14, 186.8]","[823.18, 251.21]","[614.04, 116.02]","[744.05, 178.6]","[556.3, 169.51]"
19441,24,0,NaN,13,0,rs/gd,1,40,50,0.0,...,407.826459,21,0,0,0,"[620.07, 594.13]","[364.08, 597.68]","[547.96, 675.61]","[638.17, 661.22]","[580.14, 563.12]"
19442,24,0,NaN,13,0,rs/gd,1,40,50,0.0,...,354.643269,22,0,0,0,"[877.17, 349.85]","[823.18, 251.21]","[895.74, 262.79]","[744.05, 178.6]","[835.36, 484.13]"
19443,24,0,NaN,13,0,rs/gd,1,40,50,0.0,...,112.449415,23,0,0,0,"[823.18, 251.21]","[877.17, 349.85]","[895.74, 262.79]","[744.05, 178.6]","[835.36, 484.13]"
19444,24,0,NaN,13,0,rs/gd,1,40,50,0.0,...,142.926530,25,0,0,0,"[890.42, 125.09]","[823.18, 251.21]","[895.74, 262.79]","[805.72, 131.94]","[556.3, 169.51]"

### Delete '[  ]' from each row in coord coluns (for changing to float)

In [62]:
feat['resp_pos'] = feat['resp_pos'].str[1:-1]
feat['closest_same_target'] = feat['closest_same_target'].str[1:-1]
feat['closest_other_target'] = feat['closest_other_taget'].str[1:-1]
feat['closest_blue_dot'] = feat['closest_blue_dot'].str[1:-1]
feat['closest_yellow_dot'] = feat['closest_yellow_dot'].str[1:-1]

In [74]:
conj['resp_pos'] = conj['resp_pos'].str[1:-1]
conj['closest_same_target'] = conj['closest_same_target'].str[1:-1]
conj['closest_other_target'] = conj['closest_other_target'].str[1:-1]
conj['closest_dist_same_color'] = conj['closest_dist_same_color'].str[1:-1]
conj['closest_dist_same_shape'] = conj['closest_dist_same_shape'].str[1:-1]

### Change type of coord 'str' to 'float'

In [64]:
feat['resp_pos'] = feat['resp_pos'].apply(lambda x: [float(y) for y in x.split(',')])
feat['closest_same_target'] = feat['closest_same_target'].apply(lambda x: [float(y) for y in x.split(',')])
feat['closest_other_target'] = feat['closest_other_target'].apply(lambda x: [float(y) for y in x.split(',')])
feat['closest_blue_dot'] = feat['closest_blue_dot'].apply(lambda x: [float(y) for y in x.split(',')])
feat['closest_yellow_dot'] = feat['closest_yellow_dot'].apply(lambda x: [float(y) for y in x.split(',')])

In [75]:
conj['resp_pos'] = conj['resp_pos'].apply(lambda x: [float(y) for y in x.split(',')])
conj['closest_same_target'] = conj['closest_same_target'].apply(lambda x: [float(y) for y in x.split(',')])
conj['closest_other_target'] = conj['closest_other_target'].apply(lambda x: [float(y) for y in x.split(',')])
conj['closest_dist_same_color'] = conj['closest_dist_same_color'].apply(lambda x: [float(y) for y in x.split(',')])
conj['closest_dist_same_shape'] = conj['closest_dist_same_shape'].apply(lambda x: [float(y) for y in x.split(',')])

### Make columns with coord as np array

In [66]:
feat['cl_same'] = ((np.array(feat['resp_pos'].values.tolist())
                              - np.array(feat['closest_same_target']
                                         .values
                                         .tolist()))**2).sum(axis=1) ** 0.5
feat['cl_other'] = ((np.array(feat['resp_pos'].values.tolist()) 
                                 - np.array(feat['closest_other_target']
                                            .values
                                            .tolist()))**2).sum(axis=1) ** 0.5
feat['cl_blue'] = ((np.array(feat['resp_pos'].values.tolist()) 
                                 - np.array(feat['closest_blue_dot']
                                            .values
                                            .tolist()))**2).sum(axis=1) ** 0.5
feat['cl_yellow'] = ((np.array(feat['resp_pos'].values.tolist()) 
                                 - np.array(feat['closest_yellow_dot']
                                            .values
                                            .tolist()))**2).sum(axis=1) ** 0.5

In [77]:
conj['cl_same'] = ((np.array(conj['resp_pos'].values.tolist())
                              - np.array(conj['closest_same_target']
                                         .values
                                         .tolist()))**2).sum(axis=1) ** 0.5
conj['cl_other'] = ((np.array(conj['resp_pos'].values.tolist()) 
                                 - np.array(conj['closest_other_target']
                                            .values
                                            .tolist()))**2).sum(axis=1) ** 0.5
conj['cl_same_color'] = ((np.array(conj['resp_pos'].values.tolist()) 
                                 - np.array(conj['closest_dist_same_color']
                                            .values
                                            .tolist()))**2).sum(axis=1) ** 0.5
conj['cl_same_shape'] = ((np.array(conj['resp_pos'].values.tolist()) 
                                 - np.array(conj['closest_dist_same_shape']
                                            .values
                                            .tolist()))**2).sum(axis=1) ** 0.5

In [78]:
conj

,participantN,age,gender,trialN,task,condition,FeatConj,setSize,proportion,timelimit,...,changeScreen,resp_pos,closest_same_target,closest_other_target,closest_dist_same_color,closest_dist_same_shape,cl_same,cl_other,cl_same_color,cl_same_shape
0,1,0,,0,0,rs/gd,1,80,50,0.0,...,0,"[899.99, 486.05]","[874.21, 580.7]","[899.28, 420.66]","[717.25, 506.41]","[815.83, 402.12]",98.098068,65.393854,183.870708,118.857690
1,1,0,,0,0,rs/gd,1,80,50,0.0,...,0,"[874.21, 580.7]","[905.53, 646.04]","[791.91, 492.55]","[717.25, 506.41]","[829.65, 583.97]",72.458664,120.597315,173.653234,44.679822
2,1,0,,0,0,rs/gd,1,80,50,0.0,...,0,"[905.53, 646.04]","[874.21, 580.7]","[735.4, 580.27]","[717.25, 506.41]","[823.7, 663.99]",72.458664,182.400411,234.405408,83.775601
3,1,0,,0,0,rs/gd,1,80,50,0.0,...,0,"[660.02, 565.85]","[649.56, 638.9]","[735.4, 580.27]","[717.25, 506.41]","[702.66, 662.72]",73.795082,76.746862,82.512947,105.839343
4,1,0,,0,0,rs/gd,1,80,50,0.0,...,0,"[649.56, 638.9]","[660.02, 565.85]","[735.4, 580.27]","[717.25, 506.41]","[702.66, 662.72]",73.795082,103.951828,148.780161,58.197959
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19440,24,0,NaN,13,0,rs/gd,1,40,50,0.0,...,0,"[640.14, 186.8]","[823.18, 251.21]","[614.04, 116.02]","[744.05, 178.6]","[556.3, 169.51]",194.041979,75.438839,104.233047,85.604262
19441,24,0,NaN,13,0,rs/gd,1,40,50,0.0,...,0,"[620.07, 594.13]","[364.08, 597.68]","[547.96, 675.61]","[638.17, 661.22]","[580.14, 563.12]",256.014614,108.806445,69.488690,50.557146
19442,24,0,NaN,13,0,rs/gd,1,40,50,0.0,...,0,"[877.17, 349.85]","[823.18, 251.21]","[895.74, 262.79]","[744.05, 178.6]","[835.36, 484.13]",112.448965,89.018473,216.904350,140.638524
19443,24,0,NaN,13,0,rs/gd,1,40,50,0.0,...,0,"[823.18, 251.21]","[877.17, 349.85]","[895.74, 262.79]","[744.05, 178.6]","[835.36, 484.13]",112.448965,73.478228,107.395386,233.238245
19444,24,0,NaN,13,0,rs/gd,1,40,50,0.0,...,0,"[890.42, 125.09]","[823.18, 251.21]","[895.74, 262.79]","[805.72, 131.94]","[556.3, 169.51]",142.924707,137.802730,84.976541,337.059803

#### Drop unuseful columns with coordinates

In [10]:
feat = feat.drop(['closest_same_target', 'closest_other_target', 'closest_other_taget', 'closest_blue_dot', 'closest_yellow_dot'], axis=1)

In [67]:
feat = feat[feat.switches != 2]

In [79]:
conj = conj.drop(['closest_same_target', 'closest_other_target', 'closest_dist_same_color', 'closest_dist_same_shape'], axis=1)

In [80]:
conj = conj[conj.switches != 2]

In [81]:
conj

,participantN,age,gender,trialN,task,condition,FeatConj,setSize,proportion,timelimit,...,targDist,touchN,error,switches,changeScreen,resp_pos,cl_same,cl_other,cl_same_color,cl_same_shape
1,1,0,,0,0,rs/gd,1,80,50,0.0,...,98.099551,2,0,0,0,"[874.21, 580.7]",72.458664,120.597315,173.653234,44.679822
2,1,0,,0,0,rs/gd,1,80,50,0.0,...,72.456170,3,0,0,0,"[905.53, 646.04]",72.458664,182.400411,234.405408,83.775601
3,1,0,,0,0,rs/gd,1,80,50,0.0,...,258.272200,4,0,0,0,"[660.02, 565.85]",73.795082,76.746862,82.512947,105.839343
4,1,0,,0,0,rs/gd,1,80,50,0.0,...,73.791956,5,0,0,0,"[649.56, 638.9]",73.795082,103.951828,148.780161,58.197959
5,1,0,,0,0,rs/gd,1,80,50,0.0,...,94.644543,6,0,0,0,"[560.37, 670.58]",73.427475,111.076559,194.010000,142.506925
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19440,24,0,NaN,13,0,rs/gd,1,40,50,0.0,...,287.654228,20,0,0,0,"[640.14, 186.8]",194.041979,75.438839,104.233047,85.604262
19441,24,0,NaN,13,0,rs/gd,1,40,50,0.0,...,407.826459,21,0,0,0,"[620.07, 594.13]",256.014614,108.806445,69.488690,50.557146
19442,24,0,NaN,13,0,rs/gd,1,40,50,0.0,...,354.643269,22,0,0,0,"[877.17, 349.85]",112.448965,89.018473,216.904350,140.638524
19443,24,0,NaN,13,0,rs/gd,1,40,50,0.0,...,112.449415,23,0,0,0,"[823.18, 251.21]",112.448965,73.478228,107.395386,233.238245
19444,24,0,NaN,13,0,rs/gd,1,40,50,0.0,...,142.926530,25,0,0,0,"[890.42, 125.09]",142.924707,137.802730,84.976541,337.059803

#### Make csv files for 'feat', 'conj', 'feat_conj'

In [70]:
feat.to_csv(r'C:\Users\User\Desktop\feat.csv', index = False)

In [82]:
conj.to_csv(r'C:\Users\User\Desktop\conj.csv', index = False)

In [18]:
feat_conj = feat.append(conj, sort=False)

In [19]:
feat_conj.to_csv(r'C:\Users\User\Desktop\feat_conj.csv', index = False)

#### Filling Na with the -1 value in 'feat_conj'

In [20]:
both = pd.read_csv(r'C:\Users\User\Desktop\feat_conj.csv')

In [21]:
both['cl_blue'] = both['cl_blue'].fillna(-1).astype(float)
both['cl_yellow'] = both['cl_yellow'].fillna(-1).astype(float)
both['cl_same_color'] = both['cl_same_color'].fillna(-1).astype(float)
both['cl_same_shape'] = both['cl_same_shape'].fillna(-1).astype(float)

#### Make a final file for 'feat_conj'

In [22]:
both.to_csv(r'C:\Users\User\Desktop\feat_conj.csv', index = False)